[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyopengl = "*"
pygame = "*"
pillow = "*"
pyopengl-accelerate = "*"
numpy = "*"
matplotlib = "*"
cython = "*"
yt = "*"


[dev-packages]

