backcall==0.1.0
colorama==0.3.9; sys_platform == 'win32'
cycler==0.10.0
cython==0.28.2
decorator==4.3.0
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
kiwisolver==1.0.1
matplotlib==2.2.2
mpmath==1.0.0
numpy==1.14.3
parso==0.2.1
pickleshare==0.7.4
pillow==5.1.0 
prompt-toolkit==1.0.15
pygame==1.9.3
pygments==2.2.0
pyopengl==3.1.0
pyopengl-accelerate==3.1.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
simplegeneric==0.8.1
six==1.11.0
sympy==1.1.1
traitlets==4.3.2
wcwidth==0.1.7
yt==3.4.1